<!DOCTYPE html>
<html>
  <head>
    <title>LAND$: Social Media</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>