<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
    <div class='container'>
        <div id='home-actions'>
            <div class="action">
                <img src="/images/teamwork.png" alt="">
                <h2>Create Community</h2>
                <a class='overlay-link' href="/communities/new"></a>
            </div>
            <div class="action">
                <img src="/images/sett.png" alt="">
                <h2>Account Settings</h2>
                <a class='overlay-link' href="/users/<%= locals.user._id %>/edit"></a>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>