<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<p>log in or create an account!</p>
<form action="">
    <input type="text">
    <input type="text">
    <input type="submit" value="SIGN UP">
</form>
<a id='google-auth' href="/auth/google"></a>

<%- include('./partials/footer') %>