<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class='container'>
    <div id='home-actions'>
        <div class="action-cover">
            <h2>Create Community</h2>
            <form action="/communities" method='POST' class='dashboard-form'>
                <label for="name">Name</label>
                <input type="text" name='name' placeholder='Name' autocomplete='off'>
                <input type="submit" value="CREATE">
            </form>
            <a class='return-link' href="/">&#x2190;</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>